<ion-view view-title="Contacto" hide-nav-bar="false">
<ion-content has-subheader="false">
 <div class="card">
 	<div class="item item-text-wrap">
 		<b>+Control Vial </b><br>
 		&nbsp;Irene Otegui <br>
 		&nbsp;Abogada - Ex. Directora de Educación Vial (Municipalidad de Chacabuco)
 	</div>
 </div>
	<h4>&nbsp;&nbsp;&nbsp;Contactenos</h4>
	<div class="list">
	  <a class="item item-icon-left positive" href="mailto:mascontrolvial@gmail.com">
	    <i class="icon ion-email"></i>
	    mascontrolvial@gmail.com
	  </a>
	  
	  <a class="item item-icon-left positive" href="https://www.facebook.com/ioeducacionvial/?fref=ts">
	    <i class="icon ion-social-facebook positive"> </i>
	    Mas Control Vial
	  </a>
	  <a class="item item-icon-left positive" href="https://twitter.com/mascontrolvial">
		<i class="icon ion-social-twitter positive"> </i>
	    @MasEducacionVial
	  </a>
	  <div class="card">
 	<div class="item item-text-wrap">
 		<b>Desarrollo </b><br>
 		&nbsp;Alejandro Córdoba<br>
 		
 	</div>
 </div>

	</div>
</ion-content>
</ion-view