<ion-view view-title="Mas Control Vial">

<ion-content class="splash padding">
<div class="day" ng-repeat="item in tips  | filter: { id: whichartist } | limitTo :1">
  
  <div class="item item-divider item-divider-calm">
    <h2> {{ item.title }} </h2>
    </div><!-- item divider -->
    <div ng-show="item.title" class="item item-list item-text-wrap dayhighlight">
      
      {{item.detail}}
      <p align="justify" ng-if="item.subdetail">
        <li ng-if="item.subdetail"> {{item.subdetail}}</li>
        <li ng-if="item.subdetail_1">{{item.subdetail_1}}</li>
        <li ng-if="item.subdetail_2">{{item.subdetail_2}}</li>
        <li ng-if="item.subdetail_3">{{item.subdetail_3}}</li>
        <li ng-if="item.subdetail_4">{{item.subdetail_4}}</li>
        <li ng-if="item.subdetail_5">{{item.subdetail_5}}</li>
        <li ng-if="item.subdetail_6">{{item.subdetail_6}}</li>
        <li ng-if="item.subdetail_7">{{item.subdetail_7}}</li>
        <li ng-if="item.subdetail_8">{{item.subdetail_8}}</li>
      </p>
      
    </div>
    <div ng-show="item.title" ng-if="item.multa_1" ng-controller="PopupCtrl" class="item item-list item-text-wrap dayhighlight2">
      <h2>MULTA</h2>
      <p>
        <li ng-if="item.multa_1">  {{item.multa_1}} </li>
        <li ng-if="item.multa_2">  {{item.multa_2}} </li>
        <li ng-if="item.multa_3">  {{item.multa_3}} </li>
        <li ng-if="item.multa_4">  {{item.multa_4}} </li>
        <li ng-if="item.multa_5">  {{item.multa_5}} </li>
        <button class="button button-positive" ng-click="showAlert()">Ver Valor U.F</button>
      </p>
      
    </div>
    
    </ion-content>
    </ion-view>