<ion-view view-title="+Educación Vial">
 <ion-content class="splash padding">
     <div class="item item-body">
     <!-- <img src="img/rouxacademylogo.svg" alt="Roux Academy Logo">-->
      <div class="tagline"></div>
      <p>¿Te realizaron una infracción de tránsito?</p>
      <p>¿Queres saber si está bien hecha?</p>
      <p>¿Que dicen las leyes de tránsito?</p>
      <p>Defendete de las Actas de Infracciones de Transito. </p>
      <p>Muchas sanciones pueden impugnarse y no todo requisito que se exige es obligatorio.</p>
      
    </div>
  </ion-content>
</ion-view>