<ion-view view-title="+Control Vial">
 <ion-content class="splash padding">
     
     <div align="center" class="brandingHome" >
    <!-- <div align="center"><img width="200px;" height="300px;" src="img/policia.png" alt="Portada"/></div>-->
      <div class="tagline"></div>
      <p><font color="white"><br><br>¿Te realizaron una infracción de tránsito?<br><br>
         ¿Queres saber si está bien hecha?<br><br>
         ¿Que dicen las leyes de tránsito?<br><br>
         Defendete de las Actas de Infracciones de Tránsito.<br>
         
         </p>
            
    </div>
  </ion-content>
</ion-view>