<ion-view view-title="+Control Vial">
 <ion-content class="splash padding">
     
     <div align="center" class="brandingHome" >
    <!-- <div align="center"><img width="200px;" height="300px;" src="img/policia.png" alt="Portada"/></div>-->
      <div class="tagline"></div>
      <p><font color="white"><br><br>¿SABES CUANDO CORRESPONDE QUE UNA AUTORIDAD DE TRANSITO TE REALICE UN ACTA DE INFRACCION?<br><br>
         EN ESTA APLICACIÓN PODRAS VISUALIZAR:<br><br>
         -Que documentación es obligación portar al conducir.<br><br>
         -Cuándo corresponde retener o arrestar al conductor, la licencia o el vehículo.<br><br>
         -Que infracciones se sancionan con multa.<br><br>  
         -Valores de las multas.<br>
         </p>
            
    </div>
  </ion-content>
</ion-view>