<ion-view view-title="Información" hide-nav-bar="false">
<ion-content has-subheader="false" class="splash padding">
 <div class="card">
 	<div class="item item-text-wrap">
 		<b>¡IMPORTANTE! </b><br></b><br>
 		<p align="justify">
      Esta app se realizo en base a la ley nacional de transito 24.449, modificatorias y sus decretos reglamentarios. La misma rige en las provincias y municipios que han adherido a dichas normativas y con el alcance de las reservas que algunas jurisdicciones han realizado.
    </p>
 		<p align="justify">
      El objetivo de "Mas control vial" es que, de manera sencilla, cuando circules en la via publica, sin necesidad de conectividad a internet, puedas visualizar: infracciones indebidas más comunes, que documentación es obligación portar al conducir, cuándo corresponde retener o arrestar al conductor, la licencia o el vehículo, que infracciones se sancionan con multa y sus valores. De este modo, podras saber cuando corresponde que una autoridad de transito te labre un acta de infraccion y si te realizan un acta que estimes incorrecta puedas impugnarla, dado que no todo requisito que se exige es obligatorio y muchas veces las actas estan viciadas de nulidad.
    </p>
 	</div>
 </div>
 </div>
</ion-content>
</ion-view
