<ion-view view-title="Información" hide-nav-bar="false">
<ion-content has-subheader="false" class="splash padding">
<ion-slide-box show-pager="true" class="has-header" style="position:absolute; bottom: 0;left: 0;right: 0; height:400px;">
 <ion-scroll style="height:400px;">
 <div class="card">
 	<h3 style="font-size: 1.1rem;font-weight: bold; color: #417D9A;">&nbsp;&nbsp;</h3>
 	<div class="item item-text-wrap" style="font-size=1.2rem">
 	<p align="justify">
      El objetivo de "Mas control vial" es que, de manera sencilla, cuando circules en la via publica, sin necesidad de conectividad a internet, puedas visualizar: infracciones indebidas más comunes, que documentación es obligación portar al conducir, cuándo corresponde retener o arrestar al conductor, la licencia o el vehículo, que infracciones se sancionan con multa y sus valores. De este modo, podras saber cuando corresponde que una autoridad de transito te labre un acta de infraccion y si te realizan un acta que estimes incorrecta puedas impugnarla, dado que no todo requisito que se exige es obligatorio y muchas veces las actas estan viciadas de nulidad.
    </p>
 	<p align="justify">
      Esta app consta de dos secciones. La primera (individualizada en la home con el icono del automovil), realizada en base a la ley nacional de transito 24.449, modificatorias y sus decretos reglamentarios, y la segunda seccion (individualizada con el icono de ….......), destinada a las infracciones realizadas en la Ciudad Autonoma de Buenos Aires (C.A.B.A.).
    </p>
    <p align="justify">
      Recordemos que al tener la Republica Argentina un sistema de gobierno federal, la ley nacional de transito rige en las provincias y municipios que han adherido a dichas normativas y con el alcance de las reservas que algunas jurisdicciones han realizado. Para las infracciones de transito realizadas en territorios donde tiene vigencia la normativa mencionada, el costo de la multa se calcula de acuerdo al número de Unidades Fijas (U.F.) establecidas por el decreto 437/2011. El valor de cada Unidad Fija equivale al precio por litro de nafta de mayor octanaje, informado por el Automóvil Club Argentino (A.C.A.). 
      </p>
 	<p align="justify">
 		En CABA las infracciones de transito se encuentran legisladas en el Código de Faltas y el costo de cada multa se calcula tambien de acuerdo al numero de Unidades Fijas (U.F.). El valor de cada Unidad Fija equivale al precio de medio litro de nafta de mayor octanaje, informado por el Automóvil Club Argentino (A.C.A.). A febrero de 2016 el valor de cada U.F. equivale a $ 7.70.-
 	</p>
 	</div>
 </div>
 </div>
 </ion-scroll>
 </ion-slide-box>
 
</ion-content>
</ion-view
