<ion-view view-title="+ Control Vial">

  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
    </button>
  </ion-nav-buttons>
<br ng-if="isAndroid"><br ng-if="isAndroid">
<div class="bar bar-subheader item-input-inset bar-positive">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Buscar"/>
  </label>
</div>
<ion-content class="has-subheader">

  <ion-refresher >
  </ion-refresher>
  <ion-list  show-reorder="data.showReorder">
    <ion-item ng-class="{'star': item.star}" ng-repeat='item in tips  | filter: query ' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{item.id}}">
      <img ng-src="img/{{item.name}}_tn.jpg" alt="{{ item.name }} Photo">
      <h3>{{item.title}}</h3>
      <p>
           <font color="blue">Leer mas...</font>  

      </p>
      <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>
      <ion-option-button class="button-dark"
        ng-click="toggleStar(item)">
        <i class="icon ion-star"></i>
      </ion-option-button>
     
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
