<ion-view view-title="Multas" hide-nav-bar="false">
	<ion-content has-subheader="false">
		<div class="list card">
		  <div class="item item-body">
		    
		    <h3>VALOR DE MULTAS POR FALTAS COMETIDAS A LA LEY DE TRANSITO Nº 24.449.</h3>
		    <p align="justify">
		      El costo de la multa se calcula de acuerdo al número de Unidades Fijas (U.F.) establecidas para cada tipo de infracción. El valor de cada Unidad Fija equivale al precio por litro de nafta de mayor octanaje, informado por el Automóvil Club Argentino (A.C.A.). La determinacion del valor de la U.F. es publicada en la pagina web de la Agencia Nacional de Seguridad Vial y se actualiza bimestralmente.</p>
			<p align="justify">	
			  En la sentencia el monto de la multa se determina en cantidades U.F. y se abonara su equivalente en dinero al momento de hacerse efectivo el pago. Los jueces estan facultados a fijar la multa entre el minimo y maximo de la escala fijada en el decreto 437/2011.
			</p>
			
		  </div>
		</div>
		<div align="center">
		<a href="#/templates/multas.html" class="button icon-right ion-chevron-right button-positive">Buscar tipos de multa</>
		</div>
		
	</ion-content>	
</ion-view>
