<ion-view view-title="Multas" hide-nav-bar="false">
	<ion-content has-subheader="false">
		<div class="list card">
		  <div class="item item-body">
		    
		    <h3>VALOR DE MULTAS POR FALTAS COMETIDAS A LA LEY DE TRANSITO Nº 24.449.</h3>
		    <p align="justify">
		      El costo de la multa se calcula de acuerdo al número de Unidades Fijas (U.F.) establecidas para cada tipo de infracción. El valor de cada Unidad Fija equivale al precio por litro de nafta de mayor octanaje, informado por el Automóvil Club Argentino (A.C.A.). La determinacion del valor de la U.F. es publicada en la pagina web de la Agencia Nacional de Seguridad Vial y se actualiza bimestralmente.</p>
			<p align="justify">	
			  En la sentencia el monto de la multa se determina en cantidades U.F. y se abonara su equivalente en dinero al momento de hacerse efectivo el pago. Los jueces estan facultados a fijar la multa entre el minimo y maximo de la escala fijada en el decreto 437/2011.
			</p>
			
		  </div>
		</div>
		<div align="center">
		</div>
		
		<ion-refresher on-refresh="doRefresh()">
  		</ion-refresher>
		  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
		    <ion-item ng-class="{'star': item.star}" ng-repeat='item in multas  | filter: query ' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/multas/{{item.id}}">
		      <img ng-src="img/{{item.name}}_tn.jpg" alt="{{ item.name }} Photo">
		      <h3>{{item.title}}</h3>
		      <p>
		          {{item.detail | limitTo: 100 }} {{item.subdetail | limitTo: 40}}
		          {{ (item.detail.length + item.subdetail.length) > 80 ? '&hellip; (AMPLIAR)' : ''}} 

		      </p>
		      <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>
		      <ion-option-button class="button-dark"
		        ng-click="toggleStar(item)">
		        <i class="icon ion-star"></i>
		      </ion-option-button>
		      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
		      </ion-delete-button>
		      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
		      </ion-reorder-button>
		    </ion-item>
		  </ion-list>		
	</ion-content>	
</ion-view>
