
<ion-tabs class="tabs-icon-top tabs-calm">
  <ion-tab title="Inicio" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Consulta" icon="ion-android-car"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>
<ion-tab title="C.A.B.A" icon="ion-ios-location"
    href="#/tab/listcaba">
    <ion-nav-view name="listcaba-tab"></ion-nav-view>
  </ion-tab>  
  <ion-tab title="Info" icon="ion-ios-information"
    href="#/tab/informacion">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Contacto" icon="ion-email"
    href="#/tab/contacto">
    <ion-nav-view name="contacto-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
