<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Consultas" icon="ion-model-s"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Multas" icon="ion-clipboard"
    href="#/tab/multas">
    <ion-nav-view name="multas-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Varios" icon="ion-android-checkbox-outline"
    href="#/tab/varios">
    <ion-nav-view name="varios-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Contacto" icon="ion-email"
    href="#/tab/contacto">
    <ion-nav-view name="contacto-tab"></ion-nav-view>
  </ion-tab>



</ion-tabs>