/* Empty. Add your own CSS if you like */


.star>.item-content {
  background-color: #EEE8D6 !important;
}

.splash {
  background: url(../img/MControlVialPortada4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.branding {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.tagline {
  font-size: 1.4rem;
}

.branding p {
  margin-top: 10px;
  font-size: 1rem;
}


.item-divider {
  background-color: #EEE8D6;
}

.bar-positive, .tabs-positive>.tabs {
  background-color: #30669D !important;
  border-color:  #35A1E1;
}

.bar-calm, .tabs-calm>.tabs {
  background-color: #387EF5 !important;
  border-color:  #387EF5;
}


.item-thumbnail-left img {
  border-radius: 10px;
}

.item h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #417D9A;
}

.dayhighlight {
  background-color: #9EC6DE;
  border-top: 20px solid #417D9A;
}
.dayhighlight2 {
    background-color: #cccc99;
    border-top: 20px solid #b6c7bd;
}
.dayhighlight3 {
    background-color: #00e6e6;
    border-top: 20px solid #417D9A;
}
.dayhighlight h2 {
  color: #417D9A;
  font-size: 1.2rem;
  font-weight: 150;
}